<header>
    <nav>
        <ul>
            <li><a href="{{ path('admin') }}">Images</a></li>
            <li><a href="{{ path('admin_stats') }}">Statistiques</a></li>
        </ul>
    </nav>
</header>