{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <h1>Statistiques des Images</h1>

    <canvas id="statsChart" width="10" height="10"></canvas>

{% endblock %}
